python = ">=3.10,<3.13"
langchain = "0.2.12"
langchain-core = "0.2.29"
langgraph = "0.2.3"
langchain-ollama = "0.1.1"
ipykernel = "6.29.5"
semantic-router = "^0.0.72"
pyppeteer = "2.0.0"
nest-asyncio = "1.6.0"
praw = "^7.8.0"
python-dotenv = "^1.0.1"
pydantic-settings = "^2.6.0"